html,
body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
}

.card{
  height: 310px;
  width: 260px;
  background-color: #fff;
  border-radius: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 5px;
  gap: 2px;
  background-color: transparent;
  color: #dadada;

}

.center h2,
.center h3,
.center h4,
.bottom h3,
.bottom p,
.center p {
  margin: 0;
}

.center{
  padding-top: 15px;
}

.center h3{
  font-size: 20px;
  font-weight: 500;
}

.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #b8b8b8;
}

.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 5px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom button{
  background-color: #111;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 12px;
  color: #b8b8b8;
}